In [1]:
import os
import pyspark
conf = pyspark.SparkConf()

# conf.set('spark.ui.proxyBase', '/user/' + os.environ['JUPYTERHUB_USER'] + '/proxy/4041')
conf.set('spark.sql.repl.eagerEval.enabled', True) # enabled for debuggig 
conf.set('spark.driver.memory','12g')
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.SQLContext.getOrCreate(sc)

/usr/local/spark/python/pyspark/sql/context.py:158: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [2]:
from pyspark.sql.functions import col, to_date, when, concat, lit, count, avg
from pyspark.sql.types import DateType, StructType, StructField, DoubleType, StringType
from itertools import product
from pyspark.sql import functions as F
import requests
import googlemaps
import json
from flask import Flask, request, jsonify

In [3]:
arrest_data_df = spark.read.option("header", "true").csv("data/NYPD_Arrest_Data__Year_to_Date__20231212.csv")
arrest_data_df = arrest_data_df.withColumn("ARREST_DATE", to_date(arrest_data_df["ARREST_DATE"], "MM/dd/yyyy").cast(DateType()))
arrest_data_df = arrest_data_df \
    .select(col("ARREST_DATE"), col("ARREST_BORO"), col("AGE_GROUP"), col("PERP_SEX"), col("PERP_RACE"), col("Latitude"), col("Longitude")) 
arrest_data_df = arrest_data_df \
    .filter(col("ARREST_BORO") == "S") 

arrest_data_df = arrest_data_df.dropna()
print(arrest_data_df.count())
arrest_data_df

7415

+-----------+-----------+---------+--------+--------------------+-----------------+------------------+
|ARREST_DATE|ARREST_BORO|AGE_GROUP|PERP_SEX|           PERP_RACE|         Latitude|         Longitude|
+-----------+-----------+---------+--------+--------------------+-----------------+------------------+
| 2023-04-10|          S|    18-24|       F|      WHITE HISPANIC|        40.644996|        -74.077263|
| 2023-07-24|          S|    25-44|       M|               BLACK|        40.628914|        -74.125568|
| 2023-03-07|          S|    25-44|       M|               WHITE|        40.644996|        -74.077263|
| 2023-03-17|          S|      <18|       M|               WHITE|        40.527587|        -74.191658|
| 2023-05-30|          S|    25-44|       F|               BLACK|        40.644996|        -74.077263|
| 2023-03-07|          S|    25-44|       M|               WHITE|        40.511577|        -74.249302|
| 2023-02-17|          S|    25-44|       M|               BLACK|40.59726661499576|-74.05761445439731|
| 2023-05-16|          S|    25-44|       U|               BLACK|        40.623238|        -74.149217|
| 2023-01-24|          S|    25-44|       M|      WHITE HISPANIC|        40.623238|        -74.149217|
| 2023-01-23|          S|    25-44|       M|               WHITE|         40.61865|        -74.073309|
| 2023-02-07|          S|    45-64|       M|      WHITE HISPANIC|        40.553824|        -74.144133|
| 2023-01-12|          S|      <18|       M|               BLACK|        40.644996|        -74.077263|
| 2023-01-13|          S|    25-44|       M|               BLACK|        40.574091|        -74.106113|
| 2023-01-31|          S|    25-44|       M|      WHITE HISPANIC|      40.63742778|      -74.11373815|
| 2023-02-01|          S|    18-24|       M|               BLACK|        40.640746|        -74.076747|
| 2023-01-03|          S|    25-44|       M|               BLACK|      40.62156431|      -74.16848285|
| 2023-01-28|          S|    25-44|       M|ASIAN / PACIFIC I...|        40.623796|        -74.073767|
| 2023-01-25|          S|    45-64|       M|               WHITE|        40.600677|        -74.177026|
| 2023-04-25|          S|    45-64|       F|               WHITE|        40.623238|        -74.149217|
| 2023-03-28|          S|    18-24|       M|ASIAN / PACIFIC I...|        40.538274|        -74.210493|
+-----------+-----------+---------+--------+--------------------+-----------------+------------------+
only showing top 20 rows

In [4]:
# Define the boundaries
# min_latitude, max_latitude = 40.7, 40.901
# min_longitude, max_longitude = -74.05, -73.899

# Define the new boundaries according to data
min_latitude, max_latitude = 40.49, 62.08
min_longitude, max_longitude = -74.26, -73.68

# Number of divisions along each axis to create 1,000,000 zones (1000x1000)
num_divisions = 500

lat_step = (max_latitude - min_latitude) / num_divisions
lon_step = (max_longitude - min_longitude) / num_divisions

In [5]:
from pyspark.sql.functions import col, lead, round, monotonically_increasing_id
from pyspark.sql.window import Window


# Generate latitude and longitude DataFrames with lead values and round off to 6 decimal places
lat_df = spark.range(0, num_divisions + 1).select(round(min_latitude + col("id") * lat_step, 6).alias("y1"))
lat_df = lat_df.withColumn("y2", round(lead("y1").over(Window.orderBy("y1")), 6))

lon_df = spark.range(0, num_divisions + 1).select(round(min_longitude + col("id") * lon_step, 6).alias("x1"))
lon_df = lon_df.withColumn("x2", round(lead("x1").over(Window.orderBy("x1")), 6))

# Remove the last row from lat_df and lon_df as they do not form complete squares
lat_df = lat_df.where(col("y2").isNotNull())
lon_df = lon_df.where(col("x2").isNotNull())

# Cross-join latitude and longitude DataFrames to create zones
zone_df = lat_df.crossJoin(lon_df)

# Assign zone IDs
zone_df = zone_df.withColumn("zone_id", monotonically_increasing_id())

# zone_df.write.csv("path_to_output.csv")

# Display some of the zones
zone_df.select("x1", "y1", "x2", "y2", "zone_id")

+---------+-----+---------+--------+-------+
|       x1|   y1|       x2|      y2|zone_id|
+---------+-----+---------+--------+-------+
|   -74.26|40.49|-74.25884|40.53318|      0|
|-74.25884|40.49|-74.25768|40.53318|      1|
|-74.25768|40.49|-74.25652|40.53318|      2|
|-74.25652|40.49|-74.25536|40.53318|      3|
|-74.25536|40.49| -74.2542|40.53318|      4|
| -74.2542|40.49|-74.25304|40.53318|      5|
|-74.25304|40.49|-74.25188|40.53318|      6|
|-74.25188|40.49|-74.25072|40.53318|      7|
|-74.25072|40.49|-74.24956|40.53318|      8|
|-74.24956|40.49| -74.2484|40.53318|      9|
| -74.2484|40.49|-74.24724|40.53318|     10|
|-74.24724|40.49|-74.24608|40.53318|     11|
|-74.24608|40.49|-74.24492|40.53318|     12|
|-74.24492|40.49|-74.24376|40.53318|     13|
|-74.24376|40.49| -74.2426|40.53318|     14|
| -74.2426|40.49|-74.24144|40.53318|     15|
|-74.24144|40.49|-74.24028|40.53318|     16|
|-74.24028|40.49|-74.23912|40.53318|     17|
|-74.23912|40.49|-74.23796|40.53318|     18|
|-74.23796|40.49| -74.2368|40.53318|     19|
+---------+-----+---------+--------+-------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import col, round, floor

# Round the latitude and longitude in new_df to 6 decimal places
# new_df = arrest_data_df
new_df = arrest_data_df.withColumn("Latitude", round(col("Latitude"), 6))
new_df = arrest_data_df.withColumn("Longitude", round(col("Longitude"), 6))

# Join new_df with zone_df to assign zone_id
# The join condition checks if the latitude and longitude of new_df fall within the zone boundaries
joined_df = new_df.join(
    zone_df,
    (new_df.Latitude >= zone_df.y1) &
    (new_df.Latitude < zone_df.y2) &
    (new_df.Longitude >= zone_df.x1) &
    (new_df.Longitude < zone_df.x2),
    "left_outer"
)

# Update new_df to include the zone_id
new_df_with_zone_id = joined_df.select(new_df["*"], zone_df["zone_id"])

# new_df_with_zone_id = new_df_with_zone_id.withColumn("zone", floor(lit(col("zone_id")/num_divisions)))

# Show the updated DataFrame or process further
new_df_with_zone_id.show(10)

+-----------+-----------+---------+--------+--------------+-----------------+----------+-------+
|ARREST_DATE|ARREST_BORO|AGE_GROUP|PERP_SEX|     PERP_RACE|         Latitude| Longitude|zone_id|
+-----------+-----------+---------+--------+--------------+-----------------+----------+-------+
| 2023-03-07|          S|    25-44|       M|         WHITE|        40.511577|-74.249302|      9|
| 2023-07-26|          S|    25-44|       F|         WHITE|        40.511577|-74.249302|      9|
| 2023-07-14|          S|      <18|       M|         BLACK|40.51633659090547|-74.232823|     23|
| 2023-05-28|          S|    25-44|       F|         WHITE|        40.524733|-74.203081|     49|
| 2023-03-17|          S|      <18|       M|         WHITE|        40.527587|-74.191658|     58|
| 2023-07-31|          S|    25-44|       M|         WHITE|        40.538274|-74.210493|    542|
| 2023-02-19|          S|    25-44|       M|         WHITE|      40.55591155|-74.202339|    549|
| 2023-09-07|          S|    45-64|       M|         WHITE|        40.546735|-74.201199|    550|
| 2023-04-01|          S|    45-64|       M|         WHITE|      40.56891397|-74.150332|    594|
| 2023-02-07|          S|    45-64|       M|WHITE HISPANIC|        40.553824|-74.144133|    599|
+-----------+-----------+---------+--------+--------------+-----------------+----------+-------+
only showing top 10 rows

In [8]:
crime_count_per_day_zone = new_df_with_zone_id.groupBy("zone_id", "ARREST_DATE").agg(count("*").alias("daily_crimes"))

# Calculate the average crime rate per day for each zone
# This assumes the dataset spans the entire period for which you want to calculate the rate
crime_rate_per_zone = crime_count_per_day_zone.groupBy("zone_id").agg(avg("daily_crimes").alias("risk_score"))

{26: 1.0,
 558: 1.0,
 541: 1.0,
 1642: 1.0,
 1145: 1.2142857142857142,
 1127: 1.0,
 54: 1.1666666666666667,
 19: 1.25,
 1594: 1.3636363636363635,
 1077: 1.1333333333333333,
 1599: 1.3571428571428572,
 564: 1.0,
 1636: 1.0,
 588: 1.0,
 602: 1.0,
 530: 1.3333333333333333,
 22: 1.0588235294117647,
 1640: 1.125,
 1157: 1.0588235294117647,
 1152: 1.2619047619047619,
 1059: 1.0,
 7: 1.0,
 532: 1.0,
 34: 1.0,
 635: 2.3333333333333335,
 551: 1.0,
 1591: 1.5,
 529: 1.0,
 624: 1.125,
 1567: 1.0,
 570: 1.3333333333333333,
 1174: 2.0,
 50: 1.1666666666666667,
 638: 1.0,
 1110: 1.0,
 1632: 1.2592592592592593,
 1119: 1.3333333333333333,
 1606: 1.173913043478261,
 629: 1.3,
 1598: 1.2,
 1607: 1.1724137931034482,
 1571: 1.0,
 32: 1.0,
 555: 1.2857142857142858,
 1128: 1.0,
 1134: 1.1428571428571428,
 1108: 1.0,
 43: 1.0,
 1089: 1.25,
 84: 1.0,
 31: 1.0,
 1069: 1.5,
 596: 2.0,
 595: 1.6,
 39: 1.0,
 561: 1.0,
 1650: 1.3725490196078431,
 1141: 1.1428571428571428,
 1639: 1.125,
 1624: 1.1481481481481481,
 1612: 1.2857142857142858,
 1602: 1.0,
 25: 1.4285714285714286,
 1099: 1.0,
 1149: 1.206896551724138,
 1592: 1.0952380952380953,
 1135: 1.1875,
 586: 1.3333333333333333,
 562: 1.0,
 589: 1.25,
 71: 3.0,
 642: 1.3333333333333333,
 621: 1.0,
 1608: 1.4857142857142858,
 1098: 1.0,
 58: 1.0,
 1150: 1.2115384615384615,
 1124: 1.6,
 9: 1.6132075471698113,
 554: 1.0,
 1623: 1.24,
 1570: 1.0,
 27: 1.0,
 51: 1.0,
 56: 1.0,
 1164: 1.565217391304348,
 610: 1.0,
 574: 1.0,
 608: 1.0,
 52: 1.0,
 546: 1.0,
 577: 1.1063829787234043,
 585: 1.1428571428571428,
 1103: 1.3333333333333333,
 1641: 1.0,
 17: 1.0833333333333333,
 79: 1.0,
 1629: 1.2,
 1116: 1.375,
 592: 1.0,
 1121: 1.2727272727272727,
 1085: 1.3333333333333333,
 1574: 1.0,
 41: 1.0,
 1114: 2.5,
 1595: 2.693121693121693,
 28: 1.1818181818181819,
 519: 1.0,
 33: 2.0,
 1576: 1.3529411764705883,
 637: 1.0,
 1100: 1.0,
 1625: 1.25,
 599: 2.0,
 646: 1.3333333333333333,
 5: 1.0,
 1597: 1.1,
 1083: 1.0909090909090908,
 1583: 1.25,
 1071: 1.0,
 539: 1.6,
 1118: 1.6666666666666667,
 1074: 1.0,
 1609: 1.2173913043478262,
 1163: 1.0769230769230769,
 1136: 1.2727272727272727,
 1132: 1.2,
 1130: 1.5,
 1115: 1.0,
 1126: 1.0,
 632: 2.259493670886076,
 1582: 1.0,
 1151: 1.2954545454545454,
 1075: 1.3333333333333333,
 623: 1.0714285714285714,
 515: 2.0,
 1622: 1.1379310344827587,
 538: 1.0,
 556: 1.5,
 1647: 1.2777777777777777,
 593: 1.0,
 1087: 1.0714285714285714,
 10: 1.0,
 550: 1.3333333333333333,
 644: 1.5,
 537: 1.0,
 1588: 1.1578947368421053,
 1112: 1.25,
 575: 1.25,
 548: 1.0,
 1643: 1.0,
 1651: 1.293103448275862,
 563: 1.0,
 557: 1.0,
 48: 1.0,
 1617: 1.125,
 581: 1.0,
 1137: 1.3076923076923077,
 1079: 1.125,
 540: 1.0,
 611: 1.0,
 44: 1.0,
 1657: 5.257028112449799,
 552: 1.0,
 590: 1.0,
 1117: 1.0,
 1555: 1.0,
 1569: 1.0,
 1627: 2.125,
 559: 1.0,
 1577: 1.0,
 1084: 1.0,
 1155: 1.358974358974359,
 61: 1.0,
 535: 1.0,
 580: 1.0,
 567: 1.1111111111111112,
 573: 1.0,
 1146: 1.0,
 1153: 1.353846153846154,
 1122: 1.0,
 1107: 1.0,
 628: 1.0,
 587: 1.0,
 1631: 1.2,
 576: 1.0,
 1662: 1.5714285714285714,
 618: 1.0,
 1090: 1.1,
 37: 1.0,
 1580: 1.1590909090909092,
 83: 1.0,
 12: 1.0,
 543: 1.3333333333333333,
 544: 1.5,
 614: 1.0,
 55: 1.25,
 1584: 1.1153846153846154,
 1102: 1.5,
 74: 1.0,
 62: 1.0,
 1585: 1.2777777777777777,
 8: 1.0434782608695652,
 1143: 1.375,
 1062: 1.0,
 1120: 1.2857142857142858,
 1058: 1.2,
 1113: 1.25,
 1096: 1.0,
 1655: 1.430232558139535,
 1619: 1.3333333333333333,
 1166: 1.0,
 1154: 1.1379310344827587,
 631: 1.0,
 49: 1.25,
 591: 1.2,
 1091: 1.0,
 11: 1.0,
 1080: 1.2857142857142858,
 35: 1.0,
 1125: 1.0,
 560: 1.0,
 639: 1.0,
 1138: 1.5,
 1167: 1.0,
 1648: 1.484375,
 622: 1.0,
 1161: 1.0,
 1653: 1.459016393442623,
 1589: 1.1578947368421053,
 1063: 1.0,
 520: 1.0,
 1593: 1.3333333333333333,
 615: 1.0,
 553: 1.0,
 605: 3.0,
 1082: 1.1967213114754098,
 1654: 1.2083333333333333,
 1611: 1.2173913043478262,
 1590: 1.3333333333333333,
 1596: 1.0,
 1081: 1.1428571428571428,
 1626: 1.0,
 536: 1.3333333333333333,
 645: 1.0,
 1097: 1.1428571428571428,
 1635: 1.0,
 634: 1.0,
 1578: 1.0,
 565: 2.6666666666666665,
 606: 1.0,
 1658: 1.9407894736842106,
 1659: 1.4393939393939394,
 1088: 1.0,
 549: 1.0,
 1065: 1.0,
 1095: 1.5,
 604: 1.0,
 1078: 1.2,
 1160: 1.0909090909090908,
 13: 1.0,
 568: 1.0,
 1638: 1.25,
 1600: 1.0952380952380953,
 75: 1.0,
 603: 1.0,
 613: 1.25,
 1101: 1.0,
 1173: 1.5,
 579: 2.1666666666666665,
 1661: 1.1428571428571428,
 1613: 1.2857142857142858,
 18: 1.25,
 533: 1.0,
 1156: 1.2,
 1129: 1.25,
 1601: 1.1875,
 1586: 1.1764705882352942,
 1615: 1.1,
 607: 1.6666666666666667,
 1148: 1.1,
 1086: 1.25,
 1628: 1.0,
 1646: 1.0,
 1123: 1.0714285714285714,
 1162: 1.2222222222222223,
 14: 1.0,
 1649: 1.4259259259259258,
 594: 1.8571428571428572,
 598: 3.0,
 1170: 1.25,
 1573: 1.4615384615384615,
 1109: 1.2857142857142858,
 583: 1.0,
 626: 1.12,
 601: 1.0,
 1563: 2.0,
 1633: 1.0,
 21: 1.1111111111111112,
 547: 1.0,
 620: 1.0,
 542: 1.5,
 1144: 1.0714285714285714,
 59: 1.0,
 1169: 1.1111111111111112,
 1093: 1.0,
 627: 1.2,
 1605: 1.0526315789473684,
 1621: 1.2666666666666666,
 15: 1.0,
 1579: 1.5833333333333333,
 81: 1.0,
 82: 3.0,
 523: 1.0,
 38: 1.0,
 609: 1.0,
 1630: 1.0,
 582: 1.4,
 42: 1.0,
 643: 1.25,
 1104: 1.2,
 1614: 1.0,
 597: 1.5,
 23: 1.4482758620689655,
 1660: 1.3461538461538463,
 46: 1.0,
 20: 1.0,
 1133: 1.0,
 1168: 1.1875,
 616: 1.0,
 617: 1.5,
 1618: 1.4444444444444444,
 630: 1.25,
 1140: 1.1666666666666667,
 1610: 1.04,
 1637: 1.0,
 1131: 1.0,
 545: 1.0,
 1094: 1.0,
 578: 1.0,
 534: 1.0,
 566: 1.0,
 1581: 1.2692307692307692,
 1111: 1.1666666666666667,
 633: 1.0,
 569: 1.2857142857142858,
 1644: 1.2142857142857142,
 40: 1.0,
 1604: 1.2727272727272727,
 1616: 1.1111111111111112,
 1106: 1.0,
 647: 1.0,
 1139: 1.0909090909090908,
 1634: 1.75,
 571: 1.125,
 1142: 1.0,
 1057: 1.1666666666666667,
 1165: 1.4545454545454546,
 1620: 1.25,
 16: 1.9,
 64: 1.0,
 612: 2.0,
 91: 1.0,
 584: 1.0,
 1652: 1.5,
 1645: 1.0,
 1067: 1.0,
 1603: 1.2291666666666667,
 625: 1.0,
 1159: 1.5,
 572: 1.0,
 619: 1.0,
 531: 1.0,
 53: 1.0,
 47: 1.0,
 1656: 1.367816091954023,
 1158: 1.25,
 1105: 2.0,
 1147: 1.0833333333333333,
 1092: 1.0,
 24: 1.0,
 1587: 1.1}

In [32]:
crime_rate_per_zone.write.mode("overwrite").csv("zone_risk.csv")

In [47]:
zone_risk_df = spark.read.option("header", "false").csv("zone_risk.csv")
rows = zone_risk_df.collect()

# Converting rows to dictionary
zone_risk_dict = {int(row[0]): float(row[1]) for row in rows}

In [43]:
def find_zone_id(latitude, longitude):
    # Input validation
    if not (min_latitude <= latitude <= max_latitude) or not (min_longitude <= longitude <= max_longitude):
        return "Invalid latitude or longitude"

    # Calculate indexes
    lat_index = int((latitude - min_latitude) / lat_step)
    lon_index = int((longitude - min_longitude) / lon_step)

    # Handle edge cases
    if lat_index == num_divisions:
        lat_index -= 1
    if lon_index == num_divisions:
        lon_index -= 1

    # Calculate zone_id
    zone_id = lat_index * num_divisions + lon_index
    return zone_id

In [44]:
def identify_routes_risk_score(all_routes_data):
    route_object = all_routes_data

    # Function to identify zones for a route
    def identify_zones_for_route(route_coordinates):
        route_zones = []
        for coord in route_coordinates:
            zone = find_zone_id(coord['lat'], coord['long'])
            route_zones.append(zone)
        return route_zones

    route_zones_data = {}
    # Iterate through each route in the object
    for route_id, route_data in route_object.items():
        route_coordinates = route_data.get("route_coordinates", [])
        
        # Identify zones for the route coordinates
        route_zones = identify_zones_for_route(route_coordinates)

        risk_count = 0
        for zone in route_zones:
            if zone in zone_risk_dict:
                risk_count += zone_risk_dict[zone]

        t = {
            "Coordinate": route_coordinates,
            "distance": route_data.get("distance"),
            "time": route_data.get("time"),
            "risk_score": risk_count/len(route_coordinates)
        }
        route_zones_data[route_id] = t
    return route_zones_data

In [45]:
def get_all_routes_with_coordinates(api_key, origin, destination):
    # Initialize the Google Maps API client
    gmaps = googlemaps.Client(key=api_key)

    # Make the directions API request
    directions_result = gmaps.directions(origin, destination, mode="walking", alternatives=True)

    # Extract and format information about each route
    all_routes_data = {}
    for i, route in enumerate(directions_result):
        route_data = {
            "distance": route['legs'][0]['distance']['text'],
            "time": route['legs'][0]['duration']['text'],
            "route_coordinates": []
        }
        count = 0
        for step in route['legs'][0]['steps']:
            if count == 0:
                start_location = step['start_location']
                route_data["route_coordinates"].append({
                    "lat": start_location['lat'],
                    "long": start_location['lng']
                })
                count += 1
            end_location = step['end_location']
            route_data["route_coordinates"].append({
                "lat": end_location['lat'],
                "long": end_location['lng']
            })

        all_routes_data[str(i)] = route_data

    return all_routes_data

In [46]:
with open("api_key.txt", 'r') as file:
    api_key = file.readline()
source_address = "2975 Richmond Ave, Staten Island, NY 10314"
destination_address = "2505 Richmond Ave, Staten Island, NY 10314"

gmaps = googlemaps.Client(key=api_key)

# Make the directions API request
gmaps.directions(source_address, destination_address, mode="walking", alternatives=True)
all_routes_data = get_all_routes_with_coordinates(api_key, source_address, destination_address)
identify_routes_risk_score(all_routes_data)

{'0': {'Coordinate': [{'lat': 40.57260429999999, 'long': -74.1693918},
   {'lat': 40.5737799, 'long': -74.1679547},
   {'lat': 40.5738709, 'long': -74.1680732},
   {'lat': 40.5757573, 'long': -74.1668808},
   {'lat': 40.5767042, 'long': -74.1687887},
   {'lat': 40.5781927, 'long': -74.16750100000002},
   {'lat': 40.5783002, 'long': -74.1677007},
   {'lat': 40.5783843, 'long': -74.16763399999999},
   {'lat': 40.5792365, 'long': -74.169243},
   {'lat': 40.5826534, 'long': -74.1687644},
   {'lat': 40.5825012, 'long': -74.1687882},
   {'lat': 40.5834517, 'long': -74.1675064},
   {'lat': 40.583406, 'long': -74.1673015},
   {'lat': 40.5855083, 'long': -74.1664566},
   {'lat': 40.5857842, 'long': -74.16737429999999},
   {'lat': 40.58606959999999, 'long': -74.16715479999999},
   {'lat': 40.5863973, 'long': -74.16769049999999}],
  'distance': '1.3 mi',
  'time': '29 mins',
  'risk_score': 1.2693977591036414},
 '1': {'Coordinate': [{'lat': 40.57260429999999, 'long': -74.1693918},
   {'lat': 40.5737799, 'long': -74.1679547},
   {'lat': 40.5738709, 'long': -74.1680732},
   {'lat': 40.5757573, 'long': -74.1668808},
   {'lat': 40.5767042, 'long': -74.1687887},
   {'lat': 40.57749159999999, 'long': -74.16813119999999},
   {'lat': 40.5769214, 'long': -74.16702529999999},
   {'lat': 40.5773642, 'long': -74.166646},
   {'lat': 40.5773194, 'long': -74.1665531},
   {'lat': 40.5778238, 'long': -74.16612549999999},
   {'lat': 40.5789154, 'long': -74.1681905},
   {'lat': 40.5855083, 'long': -74.1664566},
   {'lat': 40.5857842, 'long': -74.16737429999999},
   {'lat': 40.58606959999999, 'long': -74.16715479999999},
   {'lat': 40.5863973, 'long': -74.16769049999999}],
  'distance': '1.3 mi',
  'time': '30 mins',
  'risk_score': 1.3165079365079366},
 '2': {'Coordinate': [{'lat': 40.57260429999999, 'long': -74.1693918},
   {'lat': 40.5737799, 'long': -74.1679547},
   {'lat': 40.5738709, 'long': -74.1680732},
   {'lat': 40.5757573, 'long': -74.1668808},
   {'lat': 40.5757937, 'long': -74.16694249999999},
   {'lat': 40.5758994, 'long': -74.1668619},
   {'lat': 40.5753936, 'long': -74.16579030000001},
   {'lat': 40.5754537, 'long': -74.1652063},
   {'lat': 40.5764481, 'long': -74.16468069999999},
   {'lat': 40.5765958, 'long': -74.1645503},
   {'lat': 40.5767179, 'long': -74.16429740000001},
   {'lat': 40.5769571, 'long': -74.16447959999999},
   {'lat': 40.5794122, 'long': -74.1636059},
   {'lat': 40.5794562, 'long': -74.1639022},
   {'lat': 40.5839414, 'long': -74.1622301},
   {'lat': 40.5860417, 'long': -74.1659439},
   {'lat': 40.58606959999999, 'long': -74.16715479999999},
   {'lat': 40.5863973, 'long': -74.16769049999999}],
  'distance': '1.4 mi',
  'time': '32 mins',
  'risk_score': 1.2200789116772721}}